/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,weight@0,400;0,700;1,400;1,700&family=Slabo+27px&display=swap');

.slabo-27px-regular {
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
}

.cousine-regular {
    font-family: "Cousine", monospace;
    font-weight: 400;
    font-style: normal;
}

.cousine-bold {
    font-family: "Cousine", monospace;
    font-weight: 700;
    font-style: normal;
}

.cousine-regular-italic {
    font-family: "Cousine", monospace;
    font-weight: 400;
    font-style: italic;
}

.cousine-bold-italic {
    font-family: "Cousine", monospace;
    font-weight: 700;
    font-style: italic;
}


/* asterisk wildcard selector */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #2f5050;
    font-family: 'slabo', sans-serif;
}

h1,
h2,
h3 {
    font-family: 'slabo', sans-serif;
    text-transform: uppercase;
    color: #ffe67c;

}

/* Header */
header {
    background-color: #2f5050;
    color: #ffe67c;
    font-family: 'cousine', sans-serif;
    padding: 0 0.5rem;
    position: fixed;
    z-index: 90;
    width: 100%;
    box-shadow: 0 3px 3px #2f5050;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

.active {
    border-bottom: none;
}

/* navbar style*/

nav {
    position: absolute;
    background-color: #2f5050;
    width: 100%;
    right: 0;
    box-shadow: 0 3px 3px #2f5050;
    padding: 0 0.5em;
    text-align: right;
    display: none;
    top: 100%;
}

/* nav toggle*/

#nav-toggle:checked~nav {
    display: block;
    width: 50%;
}

#nav-toggle {
    display: none;

}

.nav-toggle-label {
    font-size: 2rem;
    padding-right: 10px;

}



#menu {
    list-style-type: none;
    font-size-adjust: inherit;
    text-align: left;
    letter-spacing: 0.5px;
}

#menu>li {
    margin-bottom: 0.5em;
}

nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    background-color: #2f5050;
    color: #ffe67c;
    height: fit-content;
    position: relative;
    overflow: auto;
    word-break: keep-all;
}

header a {
    text-decoration: none;
    color: inherit;
}

hr {
    border: 2px solid #ffe67c;
    border-radius: 7.5px;
    max-width: 87%;
    margin-left: auto;
    margin-right: auto;
}

p {
    margin-left: 10px;
    margin-right: 10px;
}

footer a {
    text-decoration: none;
    color: #2f5050;
}

/* Main Content */
main {
    flex: 1 0 auto;
    margin-top: 88px;
}

#Famila {
    height: 700px;
    width: 100%;
    background: url(../images/ba/images/la-sagrada-famila.webp) no-repeat center center/cover;
    position: relative;
}

#st-pauls {
    height: 700px;
    width: 100%;
    background: url(../images/ba/images/st-pauls-cathedral.webp) no-repeat center center/cover;
    position: relative;
}

#osaka {
    height: 700px;
    width: 100%;
    background: url(../images/ba/images/osaka-castle.webp) no-repeat center center/cover;
    position: relative;
}

#castle {
    height: 700px;
    width: 100%;
    background: url(../images/ba/images/neuschwanstein.webp) no-repeat center center/cover;
    position: relative;
}

#cover-text {
    background-color: #2f505046;
    font-size: 90%;
    position: absolute;
    top: 50px;
    width: 60%;
    min-height: 200px;
    border-radius: 20%;
    text-align: center;
    padding-top: 18px;
    padding-left: 8px;
}

#cover-text>h1 {
    color: #ffe77cb9;
}

#title-famila {
    background-color: #2f505046;
    font-size: 100%;
    position: absolute;
    bottom: 10px;
    width: 100%;
    min-height: 100px;
    border-radius: 20%;
    text-align: center;
    padding-top: 40px;
}

#title-famila {
    color: #ffe77cb9;
}

#cover-text-st-pauls {
    background-color: #2f505046;
    font-size: 90%;
    position: absolute;
    top: 80px;
    width: 60%;
    min-height: 200px;
    border-radius: 20%;
    text-align: center;
    padding-top: 18px;
    padding-left: 8px;
    color: #ffe67c;
}

#title-st-pauls {
    background-color: #2f505046;
    font-size: 100%;
    position: absolute;
    bottom: 10px;
    width: 100%;
    min-height: 100px;
    border-radius: 20%;
    text-align: center;
    padding-top: 40px;
}

#title-st-pauls {
    color: #ffe77cb9;
}

#title-osaka {
    background-color: #2f505046;
    font-size: 100%;
    position: absolute;
    bottom: 10px;
    width: 100%;
    min-height: 100px;
    border-radius: 20%;
    text-align: center;
    padding-top: 40px;
}

#title-osaka {
    color: #ffe77cb9;
}

#title-germany {
    background-color: #2f505046;
    font-size: 100%;
    position: absolute;
    bottom: 10px;
    width: 100%;
    min-height: 100px;
    border-radius: 20%;
    text-align: center;
    padding-top: 40px;
}

#title-germany {
    color: #ffe77cb9;
}

#title-history {
    text-align: center;
    color: #2f5050;
}

#title-ratio {
    text-align: center;
    color: #2f5050;
}

#title-visitor {
    text-align: center;
    color: #2f5050;
}

#title-main {
    text-align: center;
    color: #2f5050;
}


.responsive {
    width: 100%;
    max-width: 400px;
    max-height: 248px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

input[type=email] {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
}

input[type=submit] {
    background-color: #2f5050;
    color: #ffe67c;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}

.col-25 {
    float: left;
    width: 25%;
    margin-top: 6px;
}

.col-75 {
    float: left;
    width: 75%;
    margin-top: 6px;
}


.row::after {
    content: "";
    display: table;
    clear: both;
}

.visitor {
    text-align: center;
}

.google-map {
    padding-bottom: 50%;
    position: relative;
}

.google-map iframe {
    height: 100%;
    width: 100%;
    left: 0;
    right: 0;
    position: absolute;

}

/* Footer */
footer {
    background-color: #ffe67c;
}

#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    font-size: 2rem;
    list-style-type: none;
}

#social-networks i {
    font-size: 140%;
    color: cadetblue;
}

#feedback {
    color: cadetblue;
    text-align: center;
    font-family: 'cousine', sans-serif;
    font-size: xx-large;
    list-style-type: none;
    text-decoration: none;
}


@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;

    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    .active {
        border-bottom: none;
    }

    #logo {
        font-size: 200%;
        margin: 0 1rem;
    }

    main {
        margin-top: 40px;
    }

    #Famila {
        height: 1800px;
        width: 100%;


    }

    #cover-text {
        width: 430px;
        top: 300px;
        text-align: center;
        font-size: 110%;
        border-radius: 20%;

    }

    #cover-text>h1 {
        color: #ffe77cb9;
    }
}



@media screen and (min-width: 992px) {
    #menu a:hover {
        border-bottom: 1px solid #ffe67c;
    }
}