/* google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Cousine:ital,wght@0,400;0,700;1,400;1,700&family=Slabo+27px&display=swap');

.slabo-27px-regular {
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
}

.cousine-regular {
    font-family: "Cousine", monospace;
    font-weight: 400;
    font-style: normal;
}

.cousine-bold {
    font-family: "Cousine", monospace;
    font-weight: 700;
    font-style: normal;
}

.cousine-regular-italic {
    font-family: "Cousine", monospace;
    font-weight: 400;
    font-style: italic;
}

.cousine-bold-italic {
    font-family: "Cousine", monospace;
    font-weight: 700;
    font-style: italic;
}


/* asterisk wildcard selector */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: rgb(32, 71, 88);
    font-family: 'slabo', sans-serif;
}

/* Header */
header {
    background-color: cadetblue;
    color: #ffe67c;
    font-family: 'cousine', sans-serif;
    padding: 0 0.5rem;
    position: fixed;
    z-index: 90;
    width: 100%;
    box-shadow: 0 3px 3px cadetblue;
    display: flex;
    justify-content: space-between;
    align-items: baseline;

}

h1 {
    font-family: 'cousine'sans-serif;
    text-transform: uppercase;

}

.active {
    border-bottom: 1px solid #ffe67c;
}

/* navbar style*/

nav {
    position: absolute;
    background-color: cadetblue;
    width: 100%;
    box-shadow: 0 3px 3px cadetblue;
    padding: 0 0.5em;
    text-align: right;
    display: none;
    top: 100%;
}

/* nav toggle*/

#nav-toggle:checked~nav {
    display: block;
    width: 50%;
}

#nav-toggle {
    display: none;

}

.nav-toggle-label {
    font-size: 2rem;
}

#menu {
    list-style-type: none;
    text-size-adjust: 50px;
    text-align: right;
    letter-spacing: 0.5;
}

#menu>li {
    margin-bottom: 0.5em;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: fit-content;
    background-color: cadetblue;
    color: #ffe67c;
    height: fit-content;
    position: relative;
    overflow: auto;
    word-break: keep-all;
}

header a {
    text-decoration: none;
    color: inherit;
}


/* Main Content */
main {
    background-color: beige;
    flex: 1 0 auto;

}

/* Footer */
footer {
    background-color: #ffe67c;
}

@media screen and (min-width: 768px) {
    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 1rem;

    }

    #menu {
        display: flex;
    }

    #menu>li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
        display: none;
    }

    .active {
        border-bottom: none;
    }
}