/* asterisk wildcard selector */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* general styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color:darkgreen
}

/* Header */
header {
    background-color: cadetblue;
}

/* Main Content */
main {
    background-color:beige;
    flex: 1 0 auto;

}

/* Footer */
footer {
    background-color: #ffe67c;
}